#cuadroClick {
  background-color: lightgray;
  width: 200px;
  text-align: center;
}

.EjemploInner {
    background-color: yellow;
    padding: 4px;
    display: inline-block;
}


.resaltado {
    background-color: yellow;
    color: red;
    font-weight: bold;
}


.resaltado2 {
            background-color: yellow;
            font-weight: bold;
        }

.activo2 {
        background-color: lightgreen;
        font-weight: bold;
    }



#cuadroDblClick {
  background-color: lightblue;
  width: 150px;
  height: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cuadroHover {
  background-color: #dcdcdc;
  width: 220px;
  height: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.ContenidoEjemplo {
  height: 350px;
  background-color: #e9ecef;
}

#inputKeyup {
  width: 250px;
}

#nombreSubmit {
  width: 250px;
}
